/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-softwhite: #ddefff;
  --vt-c-darkblue: #0A1C30;
  --vt-c-mediumblue: #83b0e1;
  --vt-c-yellow: #fff1be;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-darkblue);

  --color-bigheading: var(--vt-c-yellow);
  --color-heading: var(--vt-c-mediumblue);
  --color-text: var(--vt-c-softwhite);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-darkblue);
  
    --color-bigheading: var(--vt-c-yellow);
    --color-heading: var(--vt-c-mediumblue);
    --color-text: var(--vt-c-softwhite);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* supportshelf big heading */
h1 {
  text-align: left;
  padding-left: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-bigheading); 
}

/* supportshelf mini heading */
h2 {
  text-align: left;
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-bigheading);
  margin-bottom: 0.5rem;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-background);
  color: var(--color-heading);
  border-bottom: 1px solid var(--color-bigheading);
  margin-bottom: 1rem;
  box-sizing: border-box
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  font-weight: 700;
  color: (--color-bigheading);
  text-decoration: none;
  transition: color 0.3s;
}

.nav-links a:visited {
  color: var(--color-bigheading);
}

.nav-links a:hover {
  color: var(--color-heading);
}

p {
  font-size: 1rem;
  color: var(--color-text);
  margin-bottom: 1rem;
}

p a {
  color: var(--color-text);
  text-decoration: none;
  transition: color 0.3s;
}

p a:visited {
  color: var(--color-text);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 125px;
  width: 100%;
  height: auto;
}

strong {
  font-weight: 700;
  color: var(--color-heading);
}