.filtered-list {
  list-style-type: none;
  padding: 0;
  max-height: 100vh;
  width: 100%;
  align-items: center;
  margin: 0.5rem auto;
  padding-right: 1rem;
  overflow-y: auto;
  scrollbar-width: thin; 
  scrollbar-color: var(--color-heading) transparent; 
}

.filtered-list ul {
  padding-right: 0.5rem;
  margin: 0;
  list-style: none;
}

.filtered-list::-webkit-scrollbar {
  width: 6px;
}

.filtered-list::-webkit-scrollbar-track {
  background: transparent;  /* track color */
}

.filtered-list::-webkit-scrollbar-thumb {
  background-color: var(--color-heading); /* thumb color */
}

.filter-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center stretch;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
}

.filter-box {
  background-color: var(--color-heading);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  margin: 0.5rem 0;
  max-width: 600px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.filter-title {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-background);
}

.category-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1rem;
  justify-content: center;
}

.tag-checkbox {
  background-color: var(--color-background);
  border-radius: 2rem;
  padding: 0.4rem 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.9rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
}

.tag-checkbox:hover {
  background-color: var(--color-bigheading);
  color: var(--color-background)
}

.tag-checkbox input {
  accent-color: var(--color-bigheading);
}

hr {
  margin: 1rem 0;
}

a:hover strong {
  color: var(--color-bigheading);
  transition: color 0.2s ease;
}

.clear-button {
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-background);
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 0.5rem;
}

.clear-button:hover {
  background-color: var(--color-bigheading);
}

.search-button {
  align-items: center;
  background-color: var(--color-background);
  color: var(--color-text);
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.search-button:hover {
  background-color: var(--color-bigheading);
  color: var(--color-background);
}

.distance {
  align-items: center;
  background-color: var(--color-text);
  color: var(--color-background);
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 8px;
  gap: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 1rem;
  margin-top: 1.5rem;
}

.distance:hover {
  background-color: var(--color-bigheading);
  color: var(--color-background);
}

.distance-label {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--color-background);
}
